name: Django CI - Development Test

on:
  push:
    branches: [ development ]
  pull_request:
    branches: [ development ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.9.6, 3.9.12]

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Create Env
      run: |
            echo "TEST=True" > .env
            echo "SECRET_KEY=4wt_&4bjq" >> .env
            echo "ADMIN_NAME=admin" >> .env
            echo "ADMIN_PASSWORD=1234" >> .env
            echo "ADMIN_EMAIL=admin@mail.com" >> .env
            ls -a
            cat .env
    - name: Create Migrations
      run: python manage.py makemigrations
    - name: Run Tests
      run: python manage.py test -v 2
